@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background: linear-gradient(90deg, rgba(205,144,78,1) 0%, rgba(222,92,58,1) 61%);
    display: flex;
    justify-content: center;
    padding: 120px;
    font-family: 'Oxanium', sans-serif;
}

.relogio-por-fora{
    display: flex;
    padding: 50px 20px;
}

.relogio{
    display: flex;
    gap:80px;
    border: 1px solid black;
    padding: 60px;
    border-radius: 50px 10px;
    box-shadow: 5px 5px 5px;
}

.valor-horas{
    display: flex;
    border: 1px solid black;
    background-color: brown;
    padding: 32px;
    border-radius: 30px 10px;
    box-shadow: 5px 5px 5px;
}

.valor-horas #horas{
    font-size: 40px;
    color: white;
}

.valor-minutos{
    display: flex;
    border: 1px solid black;
    background-color: brown;
    padding: 32px;
    border-radius: 30px 10px;
    box-shadow: 5px 5px 5px;
}

.valor-minutos #minutos{
    font-size: 40px;
    color: white;
}

.valor-segundos{
    display: flex;
    border: 1px solid black;
    background-color: brown;
    padding: 32px;
    border-radius: 30px 10px;
    box-shadow: 5px 5px 5px ;
}

.valor-segundos #segundos{
    font-size: 40px;
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    color: white;
}


